h1{
    text-align: center;
}
/*Style to change the navbar colors*/
/* change the background color */
.navbar-custom {
background-color: salmon;
}
.navbar-custom .navbar-text {
color: rgba(255, 255, 255, 0.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
color: #ffffff;
}
/*Carousel control Icon Styles*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: salmon;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: salmon;
}
/*Style for the Social Media Icons*/
.social a {
  font-size:2em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: rgba(209, 33, 33, 0.904);
}


/*Testing modal images*/
body {font-family: Arial, Helvetica, sans-serif;}

.Image_HighLigth {
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

.Image_HighLigth:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 300px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

/* Caption of Modal Image */
#caption {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
text-align: center;
color: #ccc;
padding: 10px 0;
height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 300px;
right: 200px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
  width: 100%;
    }
}